<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <title>Document</title>
    </head>
    <body>
        <div id="page-container">
        <div id="content-wrap">
        <nav class="navbar">
            <div class="nav-logo">
                <a href="/"
                    ><img src="img/cropped-Feine-Fracht-Logo.png" alt=""
                /></a>
            </div>
            <div class="nav-links">
                <a href="/add" class="nav-link">Kunde hinzufügen</a>
                <a href="/show" class="nav-link">Kunden anzeigen</a>
                <a href="/find" class="nav-link">Kunde suchen</a>
                <a href="/delete" class="nav-link">Kunde löschen</a>
            </div>
        </nav>
    </body>
</html>
