<nav class="navbar">
    <div class="nav-logo">
        <a href="/"><img src="img/cropped-Feine-Fracht-Logo.png" alt="" /></a>
    </div>
    <div class="nav-links">
        <a href="/add" class="nav-link">Kunde hinzufügen</a>
        <a href="/show" class="nav-link">Kunden anzeigen</a>
        <a href="/find" class="nav-link">Kunde suchen</a>
        <a href="/delete" class="nav-link">Kunde löschen</a>
    </div>
</nav>
