* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --primary-orange: #facb03;
    --primary-blue: #123c72;
    --secondary-blue: #0c2f5c;
    --primary-white: #ffffff;
}

/* AREA: Buttons */

.btn-primary {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    border: none;
    outline: none;
    padding: 0.8rem;
    border-radius: 0.4rem;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: var(--primary-orange);
    color: var(--primary-white);
}

/* AREA: Partial Header */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.nav-logo,
.nav-logo img {
    height: 100px;
    width: auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 100px;
    color: var(--primary-blue);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--primary-white);
    background-color: var(--primary-blue);
}
/* AREA: Homepage */

.homepage-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homepage-card {
    text-decoration: none;
    border-radius: 1rem;
    margin: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120px;
    width: 220px;
    color: var(--primary-white);
    background-color: var(--primary-blue);
}

.homepage-card:hover {
    background-color: var(--secondary-blue);
}

/* AREA: Add-Form */

.add-form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.add-form * {
    margin: 2px;
    width: 100%;
}

.add-form-btn {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    border: none;
    outline: none;
    padding: 0.8rem;
    border-radius: 0.4rem;
}
.add-form-btn:hover {
    cursor: pointer;
    background-color: var(--primary-orange);
    color: var(--primary-white);
}

/* AREA: show */

.show-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.show-table * {
    border: none;
    outline: none;
    text-align: center;
}

.show-table tr:nth-of-type(2n) {
    background-color: lavender;
}

.show-table th,
tr {
    height: 40px;
}

.show-table td {
    padding: 5px;
}

.show-table tr:hover {
    color: var(--primary-white);
    background-color: var(--primary-blue);
}

.show-table tr:first-of-type:hover {
    color: black;
    background-color: var(--primary-white);
}

/* AREA: Find bar */
.search-options {
    margin-left: 0.4rem;
    margin-bottom: 2rem;
}

.search-options * {
    height: 40px;
}

.search-options input {
    width: 180px;
}
