* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --primary-orange: #facb03;
    --primary-blue: #123c72;
    --secondary-blue: #0c2f5c;
    --primary-white: #ffffff;
}

/* AREA: Flag */

.flag {
    position: absolute;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    min-width: 400px;
    height: 30px;
    bottom: 10rem;
    left: 5rem;
}

.flag-content {
    margin-left: 1rem;
}

.flag-accent-info {
    width: 20px;
    height: 100%;
    background-color: #75c7eb;
}
.flag-info {
    background-color: #9ad4ed;
}

.flag-info-content {
    color: #000;
}

.flag-accent-success {
    width: 20px;
    height: 100%;
    background-color: #8edb8a;
}
.flag-success {
    background-color: #b8e3b6;
}

.flag-success-content {
    color: #000;
}

.flag-accent-failure {
    width: 20px;
    height: 100%;
    background-color: #e68e8e;
}
.flag-failure {
    background-color: #e8aeae;
}

.flag-failure-content {
    color: #000;
}

/* AREA: Buttons */

.filter-form {
    height: 100%;
    width: 100%;
}

.submit-filter-btn {
    background-color: var(--primary-white);
    font-size: 16px;
    font-weight: bold;
    color: #000;
    height: 100%;
    width: 100%;
}

.submit-filter-btn:hover {
    background-color: lavender;
    cursor: pointer;
}

.add-form-btn {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    border: none;
    outline: none;
    padding: 0.8rem;
    border-radius: 0.4rem;
}

.add-form-btn:hover {
    cursor: pointer;
    background-color: var(--primary-orange);
    color: var(--primary-white);
}

.btn-primary {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    border: none;
    outline: none;
    padding: 0.8rem;
    border-radius: 0.4rem;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: var(--primary-orange);
    color: var(--primary-white);
}

.disabled {
    background-color: gray;
    cursor: default;
}

.disabled:hover {
    cursor: default;
    background-color: darkgray;
}

/* AREA: Footer CSS */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 5rem; /* Footer height */
}

#footer {
    position: absolute;
    background-color: var(--secondary-blue);
    color: var(--primary-white);
    bottom: 0;
    width: 100%;
    height: 5rem; /* Footer height */
}

.footer-content {
    padding-top: 0.6rem;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footer-seperator {
    padding: 0 0.4rem;
}

.footer-link {
    color: var(--primary-white);
}

.footer-link:hover {
    cursor: pointer;
    color: var(--primary-orange);
}

/* AREA: Partial Header */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.nav-logo,
.nav-logo img {
    height: 100px;
    width: auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 100px;
    color: var(--primary-blue);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--primary-white);
    background-color: var(--primary-blue);
}
/* AREA: Homepage */

.homepage-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homepage-card {
    text-decoration: none;
    border-radius: 1rem;
    margin: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120px;
    width: 220px;
    color: var(--primary-white);
    background-color: var(--primary-blue);
}

.homepage-card:hover {
    background-color: var(--secondary-blue);
}

/* AREA: Add-Form */

.add-form-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.add-form * {
    margin: 2px;
    width: 100%;
}

/* AREA: show */

.show-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.show-table * {
    border: none;
    outline: none;
    text-align: center;
}

.show-table tr:nth-of-type(2n) {
    background-color: lavender;
}

.show-table th,
tr {
    height: 40px;
}

.show-table td {
    padding: 5px;
}

.show-table tr:hover {
    color: var(--primary-white);
    background-color: var(--primary-blue);
}

.show-table tr:first-of-type:hover {
    color: black;
    background-color: var(--primary-white);
}

/* AREA: Find bar */
.search-options {
    margin-left: 0.4rem;
    margin-bottom: 2rem;
}

.search-options * {
    height: 40px;
}

.search-options input {
    width: 180px;
}

/* AREA: Delete */

.icon-bin {
    width: 32px;
    height: auto;
}
