<%- include('../partials/header.ejs') %>
<div class="search-options">
    <form action="" method="post">
        <input type="text" name="searchCompany" id="" placeholder="Firma" />
        <input type="text" name="searchFirstName" id="" placeholder="Vorname" />
        <input type="text" name="searchLastName" id="" placeholder="Nachname" />
        <input type="text" name="searchCity" id="" placeholder="Stadt" />
        <button type="submit" class="btn-primary">löschen</button>
    </form>
</div>
<%- include('../partials/footer.ejs', {flag: flag}) %>
