<%- include('../partials/header.ejs') %>
<div class="add-form-container">
    <h2>Kunde hinzufügen</h2>
    <form action="" method="post" class="add-form">
        <input type="text" name="firma" id="firma" placeholder="Firma" />
        <input type="text" name="fName" id="fName" placeholder="Vorname" />
        <input type="text" name="lName" id="lName" placeholder="Nachname" />
        <input type="text" name="city" id="city" placeholder="Stadt" />
        <input type="text" name="plz" id="plz" placeholder="Postleitzahl" />
        <input type="text" name="strasse" id="strasse" placeholder="Straße" />
        <input
            type="text"
            name="Hausnummer"
            id="Hausnummer"
            placeholder="Hausnummer"
        />
        <input
            type="text"
            name="Adresszusatz"
            id="Adresszusatz"
            placeholder="Adresszusatz"
        />
        <select id="Produkt" name="Produkt">
            <option value="GeKiBasic">Gemüsekiste Basic</option>
            <option value="GeKiPro">Gemüsekiste Pro</option>
            <option value="GeKiDeluxe">Gemüsekiste Deluxe</option>
        </select>
        <button class="add-form-btn" type="submit">Kunde hinzufügen</button>
    </form>
</div>
<%- include('../partials/footer.ejs', {flag: flag}) %>
